/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
#main-menu {
  width: 100%;
  background-color: $c-grey-dark;
  box-shadow: 0 4px 4px -4px $c-grey-dark;
  z-index: 1;

  .container {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 55px;
  }

  .navbar-brand {
    margin-right: auto;
    color: $c-white;
    font-size: 1em;
  }

  .navbar-toggle {
    display: block;
    position: relative;
    padding: 0;
    width: 30px;
    height: 24px;
    color: $c-black;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    .hamburger-bar, .hamburger-bar::before, .hamburger-bar::after {
      position: absolute;
      width: 30px;
      height: 4px;
      border-radius: 4px;
      background-color: $c-black;
      transition: transform 0.15s ease;
    }

    .hamburger-bar {
      display: block;
      top: 50%;
      margin-top: -2px;
      transition-timing-function: cubic-bezier(.55,.055,.675,.19);
      transition-duration: 75ms;
      &::before, &::after {
        display: block;
        content: "";
      }
    }
  }

  .navbar-toggle.collapsed {
    .hamburger-bar {
      &::before {
        top: -10px;
        transition: top 75ms ease .12s,opacity 75ms ease;
      }
      &::after {
        bottom: -10px;
        transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55,.055,.675,.19);
      }
    }
  }

  .navbar-toggle:not(.collapsed) {
    .hamburger-bar {
      transition-delay: .12s;
      transition-timing-function: cubic-bezier(.215,.61,.355,1);
      transform: rotate(45deg);
      &::before {
        top: 0;
        opacity: 0;
        transition: top 75ms ease,opacity 75ms ease .12s;
      }
      &::after {
        bottom: 0;
        transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
        transform: rotate(-90deg);
      }
    }
  }
}

#main-menu.no-brand {
  .navbar-toggle, #main-navigation {
    margin-left: auto;
  }
}

.main-menu-fixed {
  #main-menu {
    position: fixed;
    top: 0;
    &.at-top {
      box-shadow: none;
    }
  }

  &.admin-bar #main-menu {
    margin-top: 32px;
  }

  &.home {
    #wrapper {
      margin-top: 83px;
    }
  }

  #wrapper {
    margin-top: 63px;
  }
}

#main-navigation .navbar-nav, #site-footer .footer-menu {
  padding-left: 0;

  .sub-menu {
    padding-left: 0;
  }
}

#main-navigation ul.navbar-nav li, #site-footer .footer-menu li {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.3px;

  > a {
    display: block;
    padding: 15px 15px;
    color: $c-white;
    font-size: $f-small;
    transition: all 0.2s ease;
    &:hover {
      color: $c-red;
    }
  }
}

#main-navigation ul.navbar-nav li .sub-menu {
  display: none;
}

#main-navigation {
  background-color: $c-grey-dark;

  .darko-nav-search-container {
    position: relative;

    input[type="search"] {
      padding: 3px 36px 3px 8px;
      width: 140px;
      height: 26px;
      color: $c-grey-light;
      font-size: $f-small;
      background: rgba(0, 0, 0, 0.3);
      border: none;
      border-radius: 8px;
      outline: none;
      vertical-align: middle;
      transition: 0.3s ease-in-out;
    }

    button[type="submit"] {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1px 8px;
      line-height: 1.6;
      background: none;
      border: none;
      transition: 0.3s ease-in-out;
      &:hover {
        color: $c-red-darker;
        background-color: $c-grey-dark;
      }

      > i {
        vertical-align: middle;
      }
    }
  }
}

header.nav-transparent {
  position: relative;

  #main-menu, #main-navigation {
    background-color: transparent;
  }

  #main-menu {
    box-shadow: none;
    transition: background 0.3s ease;
    &:hover {
      background-color: rgba(48, 48, 48, 0.8);
    }
  }

  .hero {
    position: static;
  }
}

#site-footer .footer-menu li {
  a[href*="twitter.com"], a[href*="facebook.com"], a[href*="github.com"], a[href*="linkedin.com"], a[href*="instagram.com"] {
    padding: 15px 7px;
    font-size: 0;
    &:hover {
      color: $c-red-darker;
    }
    &::before {
      font-family: "Font Awesome 5 Brands";
      font-size: 24px;
      font-weight: 900;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
  }
  a[href*="twitter.com"]::before {  content: '\f099';  }
  a[href*="facebook.com"]::before {  content: '\f39e';  }
  a[href*="github.com"]::before {  content: '\f09b';  }
  a[href*="linkedin.com"]::before {  content: '\f08c';  }
  a[href*="instagram.com"]::before {  content: '\f16d';  }
  a[href*="reddit.com"]::before {  content: '\f1a1';  }
  a[href*="youtube.com"]::before {  content: '\f167';  }
  a[href*="twitch.tv"]::before {  content: '\f1e8';  }
}

#darko-go-top {
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  padding: 2px;
  width: 40px;
  height: 40px;
  color: $c-grey-light;
  background-color: $c-black;
  opacity: 0.7;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 900;
  &.faded-out {
    opacity: 0;
  }
  &:hover {
    opacity: 0.8;
  }

  > i {
    font-size: $f-large;
  }
}