#adjacent-posts {
  margin-top: 10px;
  margin-bottom: 35px;
  padding: 15px;
  background-color: rgba(48, 48, 48, 0.7);

  span, a {
    display: block;
  }

  span {
    color: $c-gray;
    font-size: $f-small;
  }

  a {
    margin: 10px 0 0;
    color: $c-gray;
    font-size: $f-medium;
    &:hover {
      color: $c-red-darker;
    }
  }
}