#comments {
  margin-top: 40px;
  border-top: 1px solid $c-gray-dark;
}

.comments-header {
  margin-bottom: 30px;
  text-align: center;
}

.post-comments {
  overflow: auto;
}

#comments .children {
  padding-left: 35px;
  line-height: 1.1;

  .comment {
    margin: 5px 0;

    .author-avatar img {
      width: 40px;
    }
  }
}

.parent.comment {
  margin-bottom: 10px;
}

.comment, .comments-reply {
  .author-avatar {
    padding-right: 20px;

    img {
      border-radius: 50%;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.6);
    }
  }
}

.comment {
  display: flex;
  margin: 10px 0 20px;
  padding: 10px 0;

  .comment-body {
    width: 100%;
    padding-right: 20px;
  }

  .comment-meta {
    > h4 {
      margin: 0 0 10px;
      line-height: 1.15;

      .comment-date {
        font-size: $f-small;
      }
    }
  }

  .comment-content p {
    margin-bottom: 10px;
    line-height: 1.5;
  }

  .comment-footer {
    text-align: right;

    a {
      font-size: $f-medium;
    }

    i {
      font-size: $f-small;
    }
  }
}

.comment.bypostauthor {
  .comment-meta .author-name {
    display: inline-block;
    padding: 4px 6px;
    border-radius: 12px;
    background-color: $c-gray-dark;
  }
}

.comments-reply {
  margin-top: 60px;
  overflow: auto;

  .comments-reply-header {
    margin: 10px 0 30px;
    text-align: center;
  }

  .comment-notes {
    font-size: $f-small;
  }

  .form-body {
    display: flex;
  }

  #comment-cookies {
    input[type="checkbox"] {
      vertical-align: middle;
      margin-right: 5px;
    }

    label {
      color: $c-gray;
      font-size: $f-small;
    }
  }

  #commentform {
    width: 100%;

    .logged-in-as {
      margin-bottom: 5px;
      font-size: $f-small;
    }

    .form-group {
      text-align: right;
    }

    .control-label {
      margin: 5px 0;
      font-size: $f-small;
      letter-spacing: 0;
    }

    .row {
      margin: 20px 0;
    }

    textarea {
      display: block;
      margin-top: 10px;
      resize: none;
    }
  }

  .form-submit {
    margin: 25px 0 30px;
    text-align: right;

    #submit {
      padding: 0;
      width: 45px;
      height: 45px;
      color: $c-gray-light;
      border: none;
      border-radius: 50%;
      background-color: $c-red;
      transition: background 0.3s ease;
      &:hover {
        background-color: $c-red-darker;
      }
    }
  }

  .no-comments {
    text-align: center;
  }
}

@include mobile {
  #comments {
    .children {
      padding-left: 5px;
      border-left: 1px solid $c-gray-dark;

      .comment {
        margin: 10px 0 5px;
      }
    }

    .comment {
      .comment-body {
        padding-right: 5px;
      }

      .author-avatar {
        padding-right: 15px;
      }

      .comment-meta > h4, .comment-content p {
        font-size: $f-medium;
      }
    }
  }

  .comments-reply {
    margin-top: 40px;

    .author-avatar {
      display: none;
    }

    #comment-cookies {
      text-align: center;
    }

    #commentform {
      .control-label {
        margin: 10px 0 5px;
        font-size: $f-very-small;
      }
    }

    .comment-notes {
      text-align: center;
    }
  }
}