/*--------------------------------------------------------------
# Breakpoints
--------------------------------------------------------------*/
$tablet: 768px;
$desktop: 1024px;
$widescreen: 1200px;
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
$c-black: #000;
$c-white: #fff;
$c-gray: #bebebe;
$c-gray-light: #eee;
$c-gray-darker: #3e3e3e;
$c-gray-accent: #747474;
$c-gray-dark: #303030;
$c-red: #CC4040;
$c-red-darker: #b73a3a;
$c-blue: #4c79ad;
/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
$f-very-large: 1.250em;
$f-large: 1.125em;
$f-normal: 1em;
$f-medium: 0.875em;
$f-small: 0.750em;
$f-very-small: 0.625em;