/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  color: $c-grey-light;
  background-color: $c-grey-darker;
}

a {
  text-decoration: none;
  color: $c-red;
  transition: color 0.3s ease;
  &:focus, &:visited {
    color: $c-red;
  }
  &:hover {
    color: $c-red-darker;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Roboto', sans-serif;
  color: $c-grey-light;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  height: auto;
}

embed, iframe, img, .wp-caption {
  max-width: 100%;
}

blockquote {
  margin: 0;
  padding-left: 10px;
  font-style: italic;
  border-left: 3px solid $c-red-darker;
}

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  color: $c-grey-dark;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

select {
  padding: 5px 8px;
  color: $c-grey;
  font-size: $f-medium;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  &:focus {
    box-shadow: 0 0 5px $c-red-darker;
  }

  option {
    background-color: $c-grey-darker;
  }
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


span.required {
  padding-left: 3px;
  font-size: $f-very-small;
  color: $c-red;
  vertical-align: super;
}

#main.boxed {
  margin: 20px 40px 0 40px;
  background-color: $c-grey-darker;
  -webkit-box-shadow: 0 16px 24px 2px rgba(48, 48, 48, 0.5), 0 6px 30px 5px rgba(48, 48, 48, 0.5), 0 8px 10px -5px rgba(48, 48, 48, 0.5);
  -moz-box-shadow: 0 16px 24px 2px rgba(48, 48, 48, 0.5), 0 6px 30px 5px rgba(48, 48, 48, 0.5), 0 8px 10px -5px rgba(48, 48, 48, 0.5);
  box-shadow: 0 16px 24px 2px rgba(48, 48, 48, 0.5), 0 6px 30px 5px rgba(48, 48, 48, 0.5), 0 8px 10px -5px rgba(48, 48, 48, 0.5);
}

.container, .navbar-collapse {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
}

.label {
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: 5px 10px;
  letter-spacing: 0.5px;
  border-radius: 12px;
  background-color: $c-grey-dark;
}

.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  word-wrap: normal !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.btn {
  cursor: pointer;
  outline: none;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
/*--------------------------------------------------------------
## WP classes
--------------------------------------------------------------*/
.aligncenter {
  display: block;
  margin: 26px auto;
  text-align: center;
}

.alignleft {
  display: block;
  margin: 26px auto 26px 0;
  text-align: center;
}

.alignright {
  display: block;
  margin: 26px 0 26px auto;
  text-align: center;
}

.alignnone {
  display: block;
  margin: 26px 0;
  text-align: center;
}

.wp-caption-text, .gallery-caption {
  margin: 0;
  padding-top: 5px;
  color: $c-grey;
  font-size: $f-small;
  text-align: center;
}

.attachment .wp-caption-text {
  padding-top: 10px;
}
  /*--------------------------------------------------------------
  ## Header
  --------------------------------------------------------------*/
.hero {
  position: relative;
  padding: 60px 0;
  min-height: 200px;
  color: $c-white;
  text-align: center;
}

.page, .single-post, .archive, .attachment, .search, .error404, .home, .blog {
  .hero-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-position: center center;
    background-size: cover;
    &:before, &:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
    }
    &:before {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
#site-footer {
  position: relative;
  padding: 1em 0;
  background-color: $c-grey-dark;

  .footer-menu {
    padding: 0 15px 0 0;
  }

  .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    p {
      margin: 0;
      color: $c-grey;
      font-size: $f-medium;
    }
  }
}