/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
#main-menu {
  width: 100%;
  background-color: $c-grey-dark;
  box-shadow: 0 4px 4px -4px $c-grey-dark;
  z-index: 1;

  .container {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 55px;
  }

  .navbar-brand {
    margin-right: auto;
    color: $c-white;
    font-size: 1em;
  }

  .navbar-toggle {
    display: block;
    color: $c-black;
    background: none;
    border: none;
    outline: none;
  }
}

.main-menu-fixed {
  #main-menu {
    position: fixed;
    top: 0;
    &.at-top {
      box-shadow: none;
    }
  }

  &.admin-bar #main-menu {
    margin-top: 32px;
  }

  &.home {
    #wrapper {
      margin-top: 83px;
    }
  }

  #wrapper {
    margin-top: 63px;
  }
}

#main-navigation ul.navbar-nav li, #site-footer .footer-menu li {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.3px;

  > a {
    display: block;
    padding: 15px 15px;
    color: $c-white;
    font-size: $f-small;
    transition: color 0.2s ease;
    &:hover {
      color: $c-red;
    }
  }
}

#main-navigation {
  background-color: $c-grey-dark;

  .mloc-nav-search-container {
    position: relative;

    input[type="search"] {
      padding: 3px 36px 3px 8px;
      width: 140px;
      height: 26px;
      color: $c-grey-light;
      font-size: $f-small;
      background: rgba(0, 0, 0, 0.3);
      border: none;
      border-radius: 8px;
      outline: none;
      vertical-align: middle;
      transition: 0.3s ease-in-out;
    }

    button[type="submit"] {
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      border: none;
      transition: 0.3s ease-in-out;
      &:hover {
        color: $c-red-darker;
        background-color: $c-grey-dark;
      }

      > i {
        vertical-align: middle;
      }
    }
  }
}

#mloc-go-top {
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 40px;
  height: 40px;
  color: $c-grey-light;
  background-color: $c-black;
  opacity: 0.6;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 900;
  &.faded-out {
    opacity: 0;
  }
  &:hover {
    opacity: 0.8;
  }

  > i {
    font-size: $f-large;
  }
}