/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Mobile
--------------------------------------------------------------*/
@include mobile {
  .hidden-xs {
    display: none;
  }

  .container {
    padding: 0 20px;
  }

  .main-menu-fixed {
    #wrapper {
      margin-top: 55px;
    }

    &.admin-bar #main-menu {
      margin-top: 46px;
    }
  }

  #main-menu {
    .navbar-brand p {
      margin: 0;
    }
  }

  #main-navigation {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1;
    &.collapse {
      max-height: 1px;
    }
    &.collapse.in {
      max-height: 500px;
    }

    ul.navbar-nav {
      padding: 10px 0;

      > li {
        display: block;
      }

      > li.menu-item-has-children {
        padding-right: 50px;
      }

      li {
        a {
          position: relative;
        }

        .sub-menu {
          padding-left: 15px;
          &.open {
            display: block;
          }

          li {
            display: block;
          }
        }

        .nav-children-icon {
          position: absolute;
          top: calc(50% - 12px);
          right: -24px;
          width: 24px;
          height: 24px;
          border: 1px solid $c-black;
          cursor: pointer;
          z-index: 70;
          &::before {
            content: "";
            position: absolute;
            top: calc(50% - 2px);
            left: calc(50% - 4px);
            width: 0;
            height: 0;
            border-top: 4px solid $c-black;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            transition: 0.3s ease;
          }
          &.collapsed::before {
            transform: rotate(180deg);
          }
        }
      }
    }

    .mloc-nav-search {
      padding: 10px 15px;

      form {
        max-width: 200px;

        input[type="search"] {
          width: 200px;
        }
      }
    }
  }

  #site-footer .footer-info {
    flex-direction: column-reverse;
    justify-content: center;

    .footer-menu {
      margin-bottom: 15px;
      padding: 0;

      li > a {
        padding: 10px 10px;
      }
    }

    .copyright {
      order: -1;
    }
  }

  #mloc-go-top {
    display: none;
  }

  #main {
    margin: 0;
  }

  .single-post .featured-img {
    margin: 0 5% 20px;
  }

  .post-title {
    margin-top: 25px;
  }

  #related-posts .related-post {
    display: flex;
    margin-bottom: 20px;
    text-align: left;

    .related-post-thumb {
      padding-right: 15px;

      img {
        max-width: 140px;
        height: auto;
      }
    }

    .related-post-meta {
      .related-post-title {
        font-size: $f-medium;
      }
    }
  }

  #comments {
    .children {
      padding-left: 5px;
      border-left: 1px solid $c-grey-dark;

      .comment {
        margin: 10px 0 5px;
      }
    }

    .comment {
      .comment-body {
        padding-right: 5px;
      }

      .author-avatar {
        padding-right: 15px;
      }

      .comment-meta > h4, .comment-content p {
        font-size: $f-medium;
      }
    }
  }

  .comments-reply {
    margin-top: 40px;

    .author-avatar {
      display: none;
    }

    #comment-cookies {
      text-align: center;
    }

    #commentform {
      .control-label {
        margin: 10px 0 5px;
        font-size: $f-very-small;
      }
    }

    .comment-notes {
      text-align: center;
    }
  }

  .search-no-results, .error404 {
    .mloc-content-area-search input[type="search"] {
      width: 200px;
    }
  }
}
/*--------------------------------------------------------------
## Tablet
--------------------------------------------------------------*/
@include tablet {
  #main-menu {
    .navbar-toggle {
      display: none;
    }

    #main-navigation {
      display: block;
    }
  }

  #main-navigation .mloc-nav-search {
    margin-left: 25px;
  }

  #main-navigation ul.navbar-nav > .menu-item-has-children:hover::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent rgba(33, 33, 33, 0.8) transparent;
  }

  #main-navigation ul.navbar-nav li {
    &:hover {
      > .sub-menu {
        display: block;
      }
    }

    .sub-menu {
      position: absolute;
      left: 0;
      min-width: 140px;
      background: rgba(33, 33, 33, 0.9);
      z-index: 50;
      &:hover {
        display: block;
      }

      li {
        display: block;

        > a {
          padding: 15px 10px;
        }
      }

      .nav-children-icon {
        transform: rotate(270deg);
      }

      .sub-menu {
        top: 0;
        left: 100%;
      }
    }

    .nav-children-icon {
      display: inline-block;
      margin-left: 2px;
      width: 0;
      height: 0;
      vertical-align: middle;
      border-top: 5px solid;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }
  }

  .container {
    width: 750px;
  }

  .content-container {
    min-height: 700px;
  }
}
/*--------------------------------------------------------------
## To desktop
--------------------------------------------------------------*/
@include to-desktop {
  #main {
    margin: 20px 0 0;
    box-shadow: none;
  }
}
/*--------------------------------------------------------------
## Desktop
--------------------------------------------------------------*/
@include desktop {
  .container {
    width: 970px;
  }
}
/*--------------------------------------------------------------
## Widescreen
--------------------------------------------------------------*/
@include widescreen {
  .container {
    width: 1140px;
  }
}
/*--------------------------------------------------------------
## Custom Media
--------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  .main-menu-fixed.admin-bar #main-menu {
    margin-top: 0;
    &.at-top {
      margin-top: 46px;
    }
  }
}